<hr>
<div class="temperature-converter">
    <p>Temperature Converter</p>
    <div>
      <label for="celsius">Celsius:</label>
      <input type="number" id="celsius" [(ngModel)]="celsius" (input)="convertToFahrenheit()" />
      <span *ngIf="fahrenheit !== null">{{ fahrenheit | number: '1.0-2' }} °F</span>
    </div>
    <div>
      <label for="fahrenheit">Fahrenheit:</label>
      <input type="number" id="fahrenheit" [(ngModel)]="fahrenheit" (input)="convertToCelsius()" />
      <span *ngIf="celsius !== null">{{ celsius | number: '1.0-2' }} °C</span>
    </div>
  </div>
  