<a routerLink="">Landing Page</a><br><br>
<a routerLink="displayhelloworld">1. Display Hello World</a><br><br>
<a routerLink="showhellobutton">2. Show Hello Button</a><br><br>
<a routerLink="displayname">3. Display Name</a><br><br>
<a routerLink="counter">4. Counter</a><br><br>
<a routerLink="simpleform">5. Simple Form</a><br><br>
<a routerLink="userage">6. User Age</a><br><br>
<a routerLink="usergreeting">7. User Greeting</a><br><br>
<a routerLink="calculator">8. Calculator</a><br><br>

<router-outlet></router-outlet>