<hr>
<div class="login-container">
    <p>Login</p>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" ngModel required placeholder="Input your Email">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ngModel required placeholder="Input your Password">
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
  